/*--------------------------------------------------

                            컬러

--------------------------------------------------*/

$brand: #6200ff;
$black: #333333;
$gray: #868686;
$white: #F5EEFF;
$white_oc: #6a6d93;
$green: #45b705;
$green_w: #5cff69;